﻿@using VoucherApp.Helpers;
@model VoucherApp.Models.RegistrantsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

       <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        No
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Mobile
                                    </th>
                                    <th>
                                        Photo
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 1;
                                    foreach (var item in Model.Registrants)
                                    {
                                        <tr>
                                            <td align="center">@(i++)</td>
                                            <td>@(item.Name)</td>
                                            <td>@(item.Email)</td>
                                            <td>@(item.Mobile)</td>
                                            <td><a href="#" onclick="setImage('@(item.PhotoUpload)')" data-toggle="modal" data-target="#pictureModal">view photo</a></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    
       

<!-- Modal -->
<div id="pictureModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align: center">Picture</h4>
            </div>
            <div class="modal-body">
                <img id="imgModal" style="max-width: 70vw; max-height: 70vh;" src="" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>





@section Scripts {
    <!-- BEGIN PAGE LEVEL PLUGINS -->
      <script type="text/javascript">
        function setImage(src) {
            $("#imgModal").attr("src", src);
        }
        //get file path from client system
        function getNameFromPath(strFilepath) {
            var objRE = new RegExp(/([^\/\\]+)$/);
            var strName = objRE.exec(strFilepath);

            if (strName == null) {
                return null;
            }
            else {
                return strName[0];
            }
        }

     
   
    </script>
   
}
